
<div id="dropin-wrapper">
  <div id="checkout-message"></div>
  <div id="dropin-container"></div>
  <button id="submit-button">Submit payment</button>
</div>
<script>
  var button = document.querySelector('#submit-button');

  braintree.dropin.create({
    // Insert your tokenization key here
    authorization: '{{braintreeKey}}',
    container: '#dropin-container',
    googlePay: {
    googlePayVersion: 2,
    merchantId: '18278000977346790994',
    transactionInfo: {
      totalPriceStatus: 'FINAL',
      totalPrice: '1.00',
      currencyCode: 'AUD'
    },
    allowedPaymentMethods: [{
      type: 'CARD',
      parameters: {
        // We recommend collecting and passing billing address information with all Google Pay transactions as a best practice.
        billingAddressRequired: true,
        billingAddressParameters: {
          format: 'FULL'
        }
      }
    }]
  }
  }, function (createErr, instance) {
    button.addEventListener('click', function () {
      instance.requestPaymentMethod(function (requestPaymentMethodErr, payload) {
        if (requestPaymentMethodErr) {
          console.error('Error requesting payment method:', requestPaymentMethodErr);
          return;
        }

        // When the user clicks on the 'Submit payment' button this code will send the
        // encrypted payment information in a variable called a payment method nonce
        fetch('/checkout', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify({'paymentMethodNonce': payload.nonce})
        })
        .then(response => response.json())
        .then(result => {

          // Tear down the Drop-in UI
          instance.teardown(function (teardownErr) {
            if (teardownErr) {
              console.error('Could not tear down Drop-in UI!');
            } else {
              console.info('Drop-in UI has been torn down!');
              // Remove the 'Submit payment' button using vanilla JS
              document.getElementById('submit-button').remove();
            }
          });

          if (result.success) {
            document.getElementById('checkout-message').innerHTML = '<h1>Success</h1><p>Your Drop-in UI is working! Check your <a href="https://braintreegateway.com/login">production Control Panel</a> for your test transactions.</p><p>Refresh to try another transaction.</p>';
          } else {
            console.log(result);
            document.getElementById('checkout-message').innerHTML = '<h1>Error</h1><p>Check your console.</p>';
          }
        })
        .catch(error => {
          console.error('Error:', error);
          document.getElementById('checkout-message').innerHTML = '<h1>Error</h1><p>An error occurred during payment processing.</p>';
        });
      });
    });
  });

</script>

